/*
Christopher Carter
MIU Project Week 1
Term 0212
*/


/* This css file is for my index.html page since it's styled with JQM. */



img[id=cta]{
 	width: 300px;
	height: 200px;
 	
}
 
p.subhead{
	font-size: medium;
	color: #2489CE;

}

label.error{
	display: block;
	margin: 10px 0;
	color: red;
}

#errorslink {
	display: none;
}