/*
Christopher Carter
VFW Project week 4
Term 0112
*/


body {
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-variant: small-caps;
	background-color: #df6000;
}


input[type=submit] {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: medium;
	background-position: center center;
	color: black;
	background-color: #ffde7e;
}

a {
	font-variant: normal;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	border-style: outset;
	border-color: #dbdbdb;
	border-width: 2px;
	font-size: 9px;
	text-decoration: none;
	padding: 3px;
	margin: 5px;
	background-color: #ffde7e;
	color: black;
}

fieldset {
	border-width: 3px;
	background-color: #ffde7e;
	border-color: black;
	border-style: dashed;
}

legend {
	font-variant: small-caps;
	font-size: large;
	font-weight: bold;
	font-family: fantasy;
}

h1 {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: -5px;
	margin-top: -5px;
	text-shadow: 2px 2px 2px #e4e6e4;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 36px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

span {
	line-height: 1.1em;
	font-size: 18px;
	padding: 2px;
	font-variant: small-caps;
	font-weight: bold;
	font-family: Helvetica, Verdana, Arial, serif;
}

input[type=text] {
	margin-bottom: 3px;
	display: block;
}

textarea {
	display: block;
}

input[type=date] {
	display: block;
}

h2 {
	text-shadow: 2px 2px 2px #e5e5e5;
}

div {
	font-size: large;
	margin-top: 10px;
}

select {
	margin-bottom: 3px;
}

div[id=items] {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-variant: normal;
	font-style: normal;
	font-weight: normal;
	border-width: 3px;
	border-color: black;
	border-style: dashed;
	background-color: #ffde7e;
	font-size: 13px;
	
}

div[id=required]{
	color: red;
	font-weight: bold;
	font-size: inherit;
}

li[id=gname]{

	word-break: break-all;

}

span[id=required]{
	color: red;
	font-size: inherit;
}

img[id=Xbox]{
	height: 50px;
	width: 50px;
}

img[id=PC]{
	height: 50px;
	width: 50px;
}

img[id=PS3]{
	height: 50px;
	width: 50px;
}

img[id=Wii]{
	height: 50px;
	width: 50px;
}

img[id=DS]{
	height: 50px;
	width: 50px;
}

img[id=Other]{
	height: 50px;
	width: 50px;
}

#items ul {
	margin-left: -20px;
	list-style-type: none;
}